
.review-result-page {
    background: linear-gradient(135deg, #d1dae3, #d9e2ec);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
    border-radius: 10px;
  }
  